
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">

<head>
<script type="text/javascript" src="/js/loader_nav15146_0.js"></script>

<link rel="shortcut icon" href="/images/faviconnew.ico?3" />

<meta http-equiv="content-type" content="text/html; charset=windows-1251" />
<meta http-equiv="X-UA-Compatible" content="IE=edge" />
<meta name="robots" content="noindex, nofollow" />

<title>ВКонтакте | </title>

<noscript><meta http-equiv="refresh" content="0; URL=/badbrowser.php"></noscript>

<link rel="stylesheet" type="text/css" href="/css/al/lite.css?32" />
<!--[if lte IE 6]><style type="text/css" media="screen">/* <![CDATA[ */ @import url(/css/al/ie6.css?26); /* ]]> */</style><![endif]-->
<!--[if IE 7]><style type="text/css" media="screen">/* <![CDATA[ */ @import url(/css/al/ie7.css?18); /* ]]> */</style><![endif]-->

<script type="text/javascript">
var vk = {
  ads_rotate_interval: 120000,
  al: parseInt('3') || 4,
  intnat: '1' ? true : false,
  lang: 0,
  rtl: parseInt('') || 0,
  version: 15146,
  loginscheme: 'https',
  ip_h: 'a5b54bb23722d67805',
  id: parseInt('498350'),
  nodomain: ''
}
var StaticFiles = {
  'lite.js'   : {v: 85},
  'lite.css'  : {v: 32},
  'ie6.css'   : {v: 26},
  'ie7.css'   : {v: 18}
  ,'lang0_0.js':{v:6548},'api/xdm.js':{v:1},'widgets.css':{v:20},'api/widgets/al_like.js':{v:28}
}
</script>
<script type="text/javascript" src="/js/al/lite.js?85"></script>
<script type="text/javascript" src="/js/lang0_0.js?6548"></script><link type="text/css" rel="stylesheet" href="/css/al/widgets.css?20"></link><script type="text/javascript" src="/js/api/xdm.js?1"></script><script type="text/javascript" src="/js/api/widgets/al_like.js?28"></script><style>
.like_wrap, .like_dived_full .like_wrap .like_left {
  background-color: #5F83AA;

  -webkit-transition: background 200ms linear;
  -moz-transition: background 200ms linear;
  -o-transition: background 200ms linear;
  transition: background 200ms linear;
}
.like_wrap:hover, .like_dived_full .like_wrap:hover .like_left {
  background-color: #6890bb;
}
.like_wrap:active, .like_dived_full .like_wrap:active .like_left {
  background-color: #557599;
}
</style><base target="_blank"/>

</head>

<body id="like_body" class="is_rtl VK1  widget_body">
  <div id="system_msg" class="fixed"></div>
  <div id="utils"></div>
  <div id="box_layer_bg" class="fixed"></div><div id="box_layer_wrap" class="scroll_fix_wrap fixed"><div id="box_layer"><div id="box_loader"><div class="loader"></div><div class="back"></div></div></div></div>

  <div id="stl_left"></div><div id="stl_side"></div>
</div>
  <a id="widget_focus_link" href="javascript: return;"></a>
  <script type="text/javascript">domStarted();</script>

  <div class="scroll_fix_wrap" id="page_wrap"><div class="like_small like_wrap_h22" id="main">
  <a class="like_wrap fl_l " id="checkbox">
    <div class="like_left">
      <div class="like_icon icon_v"></div>
    </div><div class="like_right">
      <div class="like_icon icon_heart"></div>
    </div>
  </a>
  <a class="like_counter_wrap fl_l" onclick="openFullList();">
    <div class="like_icon arrow"></div>
    <span id="stats_num">+1</span>
  </a>
</div></div>
  <div class="progress" id="global_prg"></div>

  <script type="text/javascript">
    if (window.devicePixelRatio >= 2) {
      document.body.className += ' is_2x';
    }
    domReady();
    var _aid = <%= @app_id %>;
var _pageQuery = 'f04f46c928b65504e3571624ff7fa107';
var _pageId = 0;
var noAuthVal = false;
var likeHash = 'af5e243fb0d47b1078';
var likeURL = <%= @url %>;
var shareData = {"wall_hash":"35f21ce00910d66817","title":"","description":"","text":""};
var counter = <%= @count %>;
cur.height = 0;
cur.eng = '';
cur.shorter = 0;
cur.verb = 0;
WLike.init();;vk.id = 498350;
  </script>
</body>

</html>